<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<html charset="UTF-8">
<head>
    <title>All Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
        th {
            text-align: left;
        }
        p    {color: #ff0000;}
    </style>
</head>
<body th:align="center">
<div align center>
    <table border="1" cellpadding="1" cellspacing="1" style="width:500px">
        <caption>
            <h2>Users</h2>
        </caption>
        <thead>
        <th>Id</th>
        <th>Login</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
        <tbody>
        <tr th:block th:each="user : ${users}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.login}"></td>
            <td th:utext="${user.password}"></td>
            <td th:utext="${user.roles}"></td>
            <td><a href="#" th:href="@{admin/users/delete(id=${user.getId()})}">del</a>----
                <a href="#" th:href="@{admin/edit-user(id=${user.getId()})}">edit</a>
            </td>
            </th:block>
        </tr>
        </tbody>
    </table>
    <br><br>
    <h2>Save User:</h2>
    <form action="#" th:action="@{/registration/save}" th:object="${user}" method="post">
        <label for="login">Login</label><br>
        <input id="login" name="login" type="text" th:field="*{login}"><br><br>
        <label for="password">Password</label><br>
        <input id="password" name="password" type="text" th:field="*{password}"><br><br>
        <ul>
            <li th:each="name : ${ROLES}">
                <input type="checkbox" name="rolesValues" th:value="${name}"/>
                <label th:text="${name}"></label>
            </li>
        </ul>

        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>
